name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and Test
        run: mvn clean test -DBROWSER=chromium -DHEADLESS=true
        continue-on-error: true

      - name: Generate Allure Report
          if: always()
          run: mvn allure:report

      - name: Upload Allure Report Artifact
          if: always()
          uses: actions/upload-artifact@v4
          with:
            name: allure-report
            path: target/site/allure-maven-plugin