name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and Test
        run: mvn clean test -DBROWSER=${{ vars.BROWSER_TYPE }} -DHEADLESS=${{ vars.HEADLESS_MODE }}
        continue-on-error: true

      - name: Get Allure history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages-temp

      - name: Copy History
        if: always()
        run: |
          mkdir -p target/allure-results
          
          if [ -d "allure-results" ]; then
            cp -r allure-results/* target/allure-results/ || true
          fi
          
          if [ -d "gh-pages-temp/history" ]; then
            cp -r gh-pages-temp/history target/allure-results/ || true
          fi

      - name: Generate Allure Report
        if: always()
        run: |
          mkdir -p target/allure-results
          cp -r allure-results/* target/allure-results/ || true
          mvn allure:report

      - name: Upload Allure Report Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: target/site/allure-maven-plugin

      - name: Deploy to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site/allure-maven-plugin
          publish_branch: gh-pages
          keep_files: true
